---
import Button from "../components/Button.astro";
import CardTrainer from "../components/CardTrainer.astro";
import Layout from "../layouts/Layout.astro";
const reasons = [
  {
    title: "15000 sq.m.",
    icon: "./icon_line.png",
    description:
      "Un amplio gimnasio para practicar deporte: una distancia segura entre las máquinas de ejercicio",
  },
  {
    title: "Más de 200 equipos",
    icon: "./weights.png",
    description:
      "Sin colas en los simuladores. Equipamiento de primera calidad de LifeStyle, Hammer Strength, TechnoGym.",
  },
  {
    title: "4 zonas de entrenamiento",
    icon: "./training.png",
    description:
      "Desde cardio hasta funcional y ciclismo. Zona separada para boxeo y artes marciales mixtas",
  },
  {
    title: "Funcionamiento las 24 horas",
    icon: "./clock.png",
    description:
      "El gimnasio está abierto las 24 horas del día, también los fines de semana y feriados.",
  },
];

const memberships = [
  {
    title: "Paquete 'Trial'",
    price: "0",
    benefits: [
      "Acceso al gimnasio desde las 8:00 a.m. hasta las 2:00 p.m.",
      "El entrenador a cargo te inducirá a las sesiones.",
    ],
  },
  {
    title: "Paquete 'Free Time'",
    price: "49",
    benefits: [
      "La entrada del gimnasio es desde las 2:00 p.m. hasta las 4:00 p.m.",
      "Sin suspensión de la membresía del gimnasio.",
      "Acompañamiento del entrenador en las sesiones.",
    ],
  },
  {
    title: "Paquete '1 Mes 24/7'",
    price: "85",
    benefits: [
      "Visita sin restricciones 24/7.",
      "Acompañamiento del entrenador en las sesiones.",
    ],
  },
  {
    title: "Paquete 'Easy Start'",
    price: "119",
    benefits: [
      "Visita sin restricciones 24/7.",
      "Programa de entrenador personal.",
      "Acceso a la aplicación del gimnasio.",
      "Soporte del entrenador.",
    ],
  },
  {
    title: "Paquete 'In Shape (AM)'",
    price: "165",
    benefits: [
      "Entrenamientos en mini grupos hasta las 2:00 p.m.",
      "Sin suspensión de la membresía del gimnasio.",
      "Clases con el entrenador en mini grupos 3 veces por semana.",
      "Soporte del entrenador.",
    ],
  },
  {
    title: "Paquete 'In Shape (PM)'",
    price: "195",
    benefits: [
      "Entrenamientos en mini grupos hasta las 5:00 p.m.",
      "Sin suspensión de la membresía del gimnasio.",
      "Clases con el entrenador en mini grupos 3 veces por semana.",
      "Soporte del entrenador.",
    ],
  },
];
const trainers = [
  {
    name: "Victoria Rodriguez",
    img: "./trainer-1.png",
  },
  {
    name: "Elizabeth Smith",
    img: "./trainer-2.png",
  },
  {
    name: "Ivan Ivanov",
    img: "./trainer-3.png",
  },
  {
    name: "Carla Brown",
    img: "./trainer-4.png",
  },
  {
    name: "Antonio Perez",
    img: "./trainer-5.png",
  },
  {
    name: "Carlos Pastori",
    img: "./trainer-6.png",
  },
  {
    name: "Andrew Johnson",
    img: "./trainer-7.png",
  },
  {
    name: "Nicole Smith",
    img: "./trainer-8.png",
  },
];
---

<Layout>
  <main class="flex flex-col justify-center items-center mb-20">
    <section class="relative flex justify-center items-center mb-12">
      <img id="background" src="./background-mobile.png" />
      <nav
        class="md:grid md:grid-cols-2 pt-10 pb-5 top-0 w-full max-w-[1200px] px-10 fixed z-[100] rounded-xl"
      >
        <img src="./GYM24 - logo.png" class="hidden md:block" />
        <div
          class="flex flex-row justify-between md:justify-end cursor-pointer md:hidden"
        >
          <div>
            <img src="./GYM24 - logo.png" />
          </div>
          <img
            id="menu-hamburger"
            src="./menu.png"
            class="hover:border-2 hover:border-white rounded-md p-1"
          />
        </div>
        <div id="list-nav" class="relative hidden md:block">
          <ul
            class="flex flex-col gap-2 bg-[#222222] md:bg-transparent w-full md:flex-row justify-between font-poppins mt-4 p-4 md:p-0 rounded-lg"
          >
            <li
              class="cursor-pointer hover:font-bold text-xs text-black md:text-white bg-[#FAF000] md:bg-transparent rounded"
            >
              <a href="#benefits" class="w-full h-full p-3 md:p-0 block"
                >Ventajas</a
              >
            </li>
            <li
              class="cursor-pointer hover:font-bold text-xs text-black md:text-white bg-[#FAF000] md:bg-transparent rounded"
            >
              <a href="#membership" class="w-full h-full p-3 md:p-0 block"
                >Membresías</a
              >
            </li>
            <li
              class="cursor-pointer hover:font-bold text-xs text-black md:text-white bg-[#FAF000] md:bg-transparent rounded"
            >
              <a href="#about-us" class="w-full h-full p-3 md:p-0 block"
                >Acerca de nosotros</a
              >
            </li>
            <li
              class="cursor-pointer hover:font-bold text-xs text-black md:text-white bg-[#FAF000] md:bg-transparent rounded"
            >
              <a href="#trainers" class="w-full h-full p-3 md:p-0 block"
                >Entrenadores</a
              >
            </li>
          </ul>
        </div>
      </nav>
      <div
        class="absolute w-full px-10 z-10 max-w-[1200px] flex flex-col items-center md:items-start justify-center md:justify-start"
      >
        <h1
          class="w-[100%] md:w-[70%] text-center md:text-left font-poppins text-2xl sm:text-3xl md:text-5xl font-bold mb-6"
        >
          Sesión de prueba gratuita con un entrenador
        </h1>
        <Button title="Detalles" href="#benefits" />
      </div>
    </section>
    <section
      id="benefits"
      class="max-w-[1200px] px-10 flex flex-col justify-center items-center font-poppins w-full mb-28"
    >
      <h2
        class="text-center lg:text-left w-full text-xl sm:text-2xl md:text-4xl font-bold mb-16"
      >
        Razones para unirte
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10 md:gap-20">
        {
          reasons.map((reason) => (
            <div class="flex flex-row items-center gap-5">
              <div class="w-[80px] h-[80px]">
                <img
                  src={reason.icon}
                  class="w-full h-full object-scale-down"
                />
              </div>
              <div>
                <p class="text-[18px] font-bold">{reason.title}</p>
                <p class="text-sm">{reason.description}</p>
              </div>
            </div>
          ))
        }
      </div>
    </section>
    <section
      id="membership"
      class="max-w-[1200px] px-10 flex flex-col justify-center items-center font-poppins w-full mb-28"
    >
      <h2
        class="text-center w-full text-xl sm:text-2xl md:text-4xl font-bold mb-16"
      >
        Membresías del gimnasio
      </h2>
      <div
        class="sm:grid sm:grid-cols-2 lg:grid-cols-3 gap-8 flex overflow-x-auto scrollbar-hidden max-w-full"
      >
        {
          memberships.map((membership) => (
            <div class="flex flex-col min-w-[15rem] sm:w-[15rem] bg-[#222222] rounded-xl py-6">
              <p class="text-lg font-semibold text-center">
                {membership.title}
              </p>
              <p class="text-2xl font-bold text-center pb-2">{`$ ${membership.price}`}</p>
              <div class="bg-black w-full h-[0.15rem] mb-2" />
              <div class="flex flex-col justify-between h-full">
                <ul class="flex flex-col gap-2 text-left p-3">
                  {membership.benefits.map((benefit) => (
                    <span class="flex flex-row gap-2 items-center">
                      <img src="./circle-outline-check.png" class="w-4 h-4" />
                      <li class="text-sm">{benefit}</li>
                    </span>
                  ))}
                </ul>
                <div class="flex flex-col justify-center items-center">
                  <Button title="Comprar" />
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </section>
    <section
      id="about-us"
      class="max-w-[1200px] px-10 flex flex-col justify-center items-center font-poppins w-full mb-28"
    >
      <div class="md:grid lg:grid-cols-2 flex flex-col justify-center gap-10">
        <div class="flex flex-col justify-center">
          <h2
            class="text-center lg:text-left w-full text-xl sm:text-2xl md:text-4xl font-bold mb-16"
          >
            Acerca de nosotros
          </h2>
          <p class="prose prose-invert">
            Gym24 es un centro de fitness líder ubicado cerca de la estación de
            metro Grushevka, que ofrece más de 1500 m² de espacio dedicado a
            equipos de entrenamiento de primera línea de marcas líderes como
            Hammer Strength, Life Fitness y TechnoGym.
          </p>
          <br />
          <p class="prose prose-invert">
            Con opciones de membresía asequibles, Gym24 es accesible para todos
            aquellos que quieran alcanzar sus objetivos de fitness, ya sea
            desarrollar fuerza, aumentar la resistencia o perder peso.
          </p>
          <br />
          <p class="prose prose-invert">
            Los entrenadores certificados de Gym24 brindan orientación y apoyo
            expertos para desarrollar planes de entrenamiento personalizados
            adaptados a las necesidades y objetivos de cada individuo.
          </p>
        </div>
        <div class="w-full flex flex-col items-center justify-end">
          <div class="flex flex-col justify-end max-w-lg">
            <div id="container-images" class="flex flex-row w-full">
              <img
                id="current-image"
                src="./about-1.png"
                class="w-full h-full object-cover rounded-xl"
              />
            </div>
            <div class="flex flex-row justify-between items-center mt-4">
              <div id="active-container-images" class="flex flex-row gap-4">
                <span
                  id="about-image-1"
                  class="w-[2.5rem] h-[2.5px] bg-image-show rounded-md cursor-pointer"
                ></span>
                <span
                  id="about-image-2"
                  class="w-[2.5rem] h-[2.5px] bg-image-off rounded-md cursor-pointer"
                ></span>
                <span
                  id="about-image-3"
                  class="w-[2.5rem] h-[2.5px] bg-image-off rounded-md cursor-pointer"
                ></span>
                <span
                  id="about-image-4"
                  class="w-[2.5rem] h-[2.5px] bg-image-off rounded-md cursor-pointer"
                ></span>
              </div>
              <div class="flex flex-row justify-between items-center gap-4">
                <span id="arrowLeft" class="cursor-pointer">
                  <img
                    src="./arrow-left.png"
                    class="w-full h-full object-cover rounded-xl"
                  />
                </span>
                <span id="arrowRight" class="cursor-pointer">
                  <img
                    src="./arrow-right.png"
                    class="w-full h-full object-cover rounded-xl"
                  />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      id="trainers"
      class="max-w-[1200px] px-10 flex flex-col justify-center items-center font-poppins w-full mb-28"
    >
      <h2
        class="text-center lg:text-left w-full text-xl sm:text-2xl md:text-4xl font-bold mb-16"
      >
        Staff de entrenadores
      </h2>
      <div
        class="md:grid md:grid-cols-3 lg:grid-cols-4 flex flex-row gap-6 overflow-x-auto scrollbar-hidden max-w-full"
      >
        {
          trainers.map((trainer) => (
            <CardTrainer name={trainer.name} img={trainer.img} />
          ))
        }
      </div>
    </section>
    <footer
      class="max-w-[1200px] px-10 flex flex-col justify-center items-center font-poppins w-full"
    >
      <div
        class="grid grid-cols-2 md:grid-cols-3 gap-4 justify-between items-center w-full"
      >
        <div class="hidden md:flex md:flex-col md:gap-4">
          <div>
            <img src="./GYM24 - logo.png" />
          </div>
          <p class="text-sm pr-10">
            Desarrolle fuerza y ​​confianza en nuestro gimnasio con equipos de
            última generación, entrenamiento personalizado y una comunidad
            motivadora.
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <p class="font-bold mb-4">Dirección</p>
          <p class="text-sm">Perú, Lima</p>
          <p class="text-sm">Salamanca, Ate</p>
          <p class="text-sm">Avenido Los Quechus 147</p>
        </div>
        <div class="flex flex-col w-full gap-2">
          <p class="font-bold mb-4">Contacto</p>
          <span class="flex flex-row gap-4 w-full">
            <div>
              <img src="./call.png" />
            </div>
            <p class="text-sm">+51 999 999 999</p>
          </span>
          <span class="flex flex-row gap-4 w-full">
            <div>
              <img src="./email.png" />
            </div>
            <p class="text-sm">gym@gmail.com</p>
          </span>
          <span class="flex flex-row gap-4 w-full">
            <img src="./instagram.png" class="w-7 h-7 cursor-pointer" />
            <img src="./facebook.png" class="w-7 h-7 cursor-pointer" />
            <img src="./twitter.png" class="w-7 h-7 cursor-pointer" />
            <img src="./youtube.png" class="w-7 h-7 cursor-pointer" />
          </span>
        </div>
      </div>
    </footer>
  </main>
</Layout>

<style>
  section {
    scroll-margin-top: 100px;
  }
  #background {
    content: url("./background-min-mobile.png");
  }
  @media (width >= 393px) and (width < 1000px) {
    #background {
      content: url("./background-mobile.png");
    }
  }
  @media (min-width: 1000px) {
    #background {
      content: url("./background-desktop.png");
    }
  }
  .scrollbar-hidde::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hidden {
    scrollbar-width: none;
  }
  .scrollbar-hidden {
    -ms-overflow-style: none;
  }
  .bg-image-show {
    background-color: #faff00;
  }
  .bg-image-off {
    background-color: #ffffff;
  }
</style>

<script>
  const images = [
    "./about-1.png",
    "./about-2.png",
    "./about-3.png",
    "./about-4.png",
  ];
  let currentIndex = 0;
  const currentImage =
    document.querySelector<HTMLImageElement>("#current-image");
  const nextBtn = document.getElementById("arrowRight");
  const prevBtn = document.getElementById("arrowLeft");
  const activeContainerImages = document.querySelectorAll(
    "#active-container-images > span"
  );
  const menuHamburger = document.getElementById("menu-hamburger");
  const listNav = document.querySelector("#list-nav");
  function updateImage() {
    if (currentImage) {
      currentImage.src = images[currentIndex];
      activeContainerImages.forEach((image) => {
        image.classList.remove("bg-image-show");
        image.classList.add("bg-image-off");
        activeContainerImages[currentIndex].classList.remove("bg-image-off");
        activeContainerImages[currentIndex].classList.add("bg-image-show");
      });
    }
  }
  activeContainerImages.forEach((image, index) => {
    image.addEventListener("click", () => {
      currentIndex = index;
      updateImage();
    });
  });
  nextBtn?.addEventListener("click", () => {
    currentIndex = (currentIndex + 1) % images.length;
    updateImage();
  });
  prevBtn?.addEventListener("click", () => {
    currentIndex = (currentIndex - 1 + images.length) % images.length;
    updateImage();
  });
  menuHamburger?.addEventListener("click", () => {
    listNav?.classList.toggle("hidden");
  });
  const nav = document.querySelector("nav");
  let lastScrollY = 0;
  window.addEventListener("scroll", () => {
    const currentScrollY = window.scrollY;
    if (currentScrollY > 0 && currentScrollY > lastScrollY) {
      nav?.classList.add("backdrop-blur-[10px]");
    } else if (currentScrollY === 0) {
      nav?.classList.remove("backdrop-blur-[10px]");
    }
    lastScrollY = currentScrollY;
  });
</script>
